<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngIf="isLoading; else doneLoading">
    <ion-skeleton-text animated style="height: 25vh;">
    </ion-skeleton-text>
    <app-loading-restaurant></app-loading-restaurant>
  </div>
  <ng-template #doneLoading>
    <app-banner [bannerImages]="banners"></app-banner>
    <ion-list>
      <ion-list-header>
        <ion-label>
          <h4>Restaurants Nearby</h4>
          <p>Discover unique tastes near you</p>
        </ion-label>
      </ion-list-header>
      <ion-item-group *ngIf="restaurants.length > 0">
        <app-restaurant *ngFor="let restaurant of restaurants" [restaurant]="restaurant">
        </app-restaurant>
      </ion-item-group>
    </ion-list>
  </ng-template>
</ion-content>