<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <swiper-container slides-per-view="1.1" keyboard="true" pagination="true" centered-slides="true">
    <swiper-slide>
      <div [ngStyle]="{'background-image' : 'url(assets/imgs/1.jpg)'}"></div>
    </swiper-slide>
    <swiper-slide>
      <div [ngStyle]="{'background-image' : 'url(assets/imgs/2.jpg)'}"></div>
    </swiper-slide>
    <swiper-slide>
      <div [ngStyle]="{'background-image' : 'url(assets/imgs/3.jpg)'}"></div>
    </swiper-slide>
  </swiper-container>
</ion-content>